.startpage {
  background-color: steelblue;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.title {
  margin-top: -10%;
  display: flex;
  flex-direction: row;
  font-size: 7vh;
  gap: 2px;
}
.startbtn {
  background-color: hsl(60, 100%, 50%);
  width: 25vw;
  height: 12vw;
  text-align: center;
  box-shadow:
    4px 4px hsl(60, 100%, 40%),
    8px 8px black;
}
.p1 {
  --first: hsl(0, 100%, 50%);
  --second: hsl(0, 100%, 47%);
  --third: hsl(0, 100%, 44%);
  --fourth: hsl(0, 100%, 41%);
}
.p2 {
  --first: hsl(60, 100%, 50%);
  --second: hsl(60, 100%, 47%);
  --third: hsl(60, 100%, 44%);
  --fourth: hsl(60, 100%, 41%);
}
.p3 {
  --first: hsl(120, 61%, 50%);
  --second: hsl(120, 61%, 47%);
  --third: hsl(120, 61%, 44%);
  --fourth: hsl(120, 61%, 41%);
}
.p4 {
  --first: hsl(270, 50%, 40%);
  --second: hsl(270, 50%, 37%);
  --third: hsl(270, 50%, 34%);
  --fourth: hsl(270, 50%, 31%);
}
.p5 {
  --first: hsl(350, 100%, 88%);
  --second: hsl(350, 100%, 85%);
  --third: hsl(350, 100%, 82%);
  --fourth: hsl(350, 100%, 79%);
}
.p6 {
  --first: hsl(39, 100%, 50%);
  --second: hsl(39, 100%, 47%);
  --third: hsl(39, 100%, 44%);
  --fourth: hsl(39, 100%, 41%);
}
.word {
  color: hsl(350, 100%, 88%);
  color: var(--first);
  text-shadow:
    3px 3px var(--second),
    6px 6px var(--third),
    9px 9px var(--fourth);
}
